# Исключить все файлы и папки
*
# Разрешить только
!Res1
!.gitignore
# Исключить файлы и папки внутри любых директорий, кроме перечисленных выше

!*/CMakeLists.txt
!*/main.cpp
# Исключить все файлы формата jpg
*.jpg


.gitignore
# Разрешить только
!Res2
!Res2/labsic
# Исключить файлы и папки внутри любых директорий, кроме перечисленных 
!*/labsic/CMakeLists.txt
!*/labsic/main.cpp

# Исключить все файлы формата jpg
*.jpg



